{% extends 'register.html' %}
{% csrf_token %}


{% block start %}



<div class="container card-body shadow-lg p-3 mb-5  bg-body rounded  d-grid gap-3 	col-lg-6 col-xs-2	">
    <center> <h2>LOGIN PAGE</h2></center>

    {% if messages %}
          
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align: center;">

     {% for message in messages %}
     
     {{message}}


     <!-- button type is not going to end position -->
     
     <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-align: end;">
       <span aria-hidden="true">&times;</span>
     </button> -->

     
     {% endfor %}

   </div>
   
     {% endif %}

     

   <div class="mb-3 ">
     <label for="exampleFormControlInput1" class="form-label ">User name</label>
     <input type="text" class="form-control p-2 bg-light border"  placeholder="User name" name="username" value="" required >
   </div>
   <div class="mb-3 ">
     <label for="exampleFormControlInput1" class="form-label ">Password</label>
     <input type="password" class="form-control p-2 bg-light border"  placeholder="Password" name="password" value="" required>
   </div>
          
   <input type="submit" class="btn btn-success btn-lg active" role="button" aria-pressed="true" value="LOGIN">
   <a href="/user_verify/">forget password</a>

   <p>Account Doesn't Exits  <a href="/register/">Register</a></p>
</div>

{% endblock %}