<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Register}}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      *{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
      }
    /* Remove number input arrows */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    </style>
     <script>
      function validateNumericInput(input) {
        // Remove non-numeric characters
        var sanitizedValue = input.value.replace(/[^0-9]/g, '');
  
        // Limit to 10 digits
        sanitizedValue = sanitizedValue.substring(0, 10);
  
        // Update the input value
        input.value = sanitizedValue;
      }
      
    </script>
</head>
<body>

      
 
    <form action="" method="post" enctype="multipart/form-data" style="padding-top:60px;">

        {% csrf_token %}
        
      {% block start %}


        
        <div class="container card-body shadow-lg p-3 mb-5  bg-body rounded  d-grid gap-3 	col-lg-6 col-xs-2	">
           <center> <h2>REGISTRATION PAGE</h2></center>
           
           {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
 

          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label ">User name</label>
            <input type="text" class="form-control p-2 bg-light border"  placeholder="User name" name='username' value="" required>
          </div>

          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label ">First Name</label>
            <input type="text" class="form-control p-2 bg-light border"  placeholder="First Name" name='first_name' value="" required>
          </div>

          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label ">Last Name</label>
            <input type="text" class="form-control p-2 bg-light border"  placeholder="Last Name" name='last_name' value="" required>
          </div>
          
          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label ">Email</label>
            <input type="email" class="form-control p-2 bg-light border"  placeholder="Email" name="email" value="" required>
          </div>

          
          

          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label ">Phone</label>
            <input type="number" class="form-control p-2 bg-light border"  placeholder="Phone" name="phone" oninput="validateNumericInput(this)" value="" required>
          </div>

          
          <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label ">Gender</label>
            <select class="custom-select form-control p-2 bg-light border" name="gender" id="gender" required>
              <option value="">------------</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
          
          <div class="mb-3 ">
            <label for="exampleFormControlInput1 password" class="form-label ">Password</label>
            <input type="password" class="form-control p-2 bg-light border"  placeholder="Password" name="password" value="" required>
          </div>
          
          <div class="mb-3 ">
            <label for="exampleFormControlInput1 password" class="form-label ">Confirm Password</label>
            <input type="password" class="form-control p-2 bg-light border"  placeholder="Confirm Password" name="confirm_password" value="" required>
          </div>
          
          
          <input type="submit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" value="SUBMIT">

         <p>Account Already Exits  <a href="/">login</a></p>

        </div>
 {% endblock %}
    
    </form>
</body>
</html>