{% extends 'register.html' %}
{% csrf_token %}


{% block start %}



<div class="container card-body shadow-lg p-3 mb-5  bg-body rounded  d-grid gap-3 	col-lg-6 col-xs-2	">
    <center> <h2>USER VERIFY</h2></center>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
 
    
   <div class="mb-3 ">
     <label for="exampleFormControlInput1" class="form-label ">User name</label>
     <input type="text" class="form-control p-2 bg-light border"  placeholder="User name" name="username" value="" required>
   </div>
          
   <input type="submit" class="btn btn-success btn-lg active" role="button" aria-pressed="true" value="NEXT">

</div>

{% endblock %}