<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <title>Document</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    * {
      font-family: 'Assistant', sans-serif;
    }

    table,
    th,
    td {

      border: 1px solid black;
      border-collapse: collapse;

    }

    th,
    td {

      padding: 10px;
      text-align: center;

    }
  </style>

</head>

<body>
  <nav class="navbar dark p-3 navbar-dark bg-primary shadow-lg">
    <div class="container-fluid">
      <h1 class="navbar-brand">TO-DO LIST</h1>
      <h2 class="navbar-brand">{{user_data.username}}</h2>
      <h2 class="navbar-brand">{{user_data.email}}</h2>
      <form class="d-flex">


        <a href="/logout/" class="btn btn-success" type="submit">Logout</a>
      </form>
    </div>
  </nav>

  {% block strart1 %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container card-body shadow-lg p-3 mb-5  bg-body rounded  d-grid gap-3 	col-lg-6 col-xs-2 	"
      style="margin-top: 50px;">
      <center>
        <h1 style="font-family: 'Times New Roman', Times, serif;">TODO LIST</h1>
      </center>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">TASK NAME</label>
        <textarea class="form-control p-2 bg-light border" rows="3" name="user_input"
          placeholder="example:wake_up,exercise" required></textarea>
      </div>
      <div class="mb-3 ">
        <label for="exampleFormControlInput1" class="form-label ">TASK DATE</label>
        <input type="date" class="form-control p-2 bg-light border" placeholder="DATE" name='Date' value="" required>
      </div>
      <div class="mb-3 ">
        <label for="exampleFormControlInput1" class="form-label ">TASK TIME</label>
        <input type="time" class="form-control p-2 bg-light border" placeholder="time" name='time1' value="" required>
      </div>


      <input type="submit" class="btn btn-success btn-lg " role="button" aria-pressed="true" value="ADD">

    </div>
  </form>


  <div calss="task_view mb-3">
    <table class="table table-striped  table-hover col-lg-4 col-xs-2 mt-5 " border="3">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">sl.no</th>
          <th scope="col" style="text-align: center;">TASK NAME</th>
          <th scope="col" style="text-align: center;">TASK DATE</th>
          <th scope="col" style="text-align: center;">TASK TIME</th>

          <th>FEATURES</th>
        </tr>
      </thead>
      <tbody>

        {% for i in tasks %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{i.user_input}}
          </td>
          <td>
            {{i.Date}}
          </td>
          <td>
            {{i.time1}}
          </td>
          <td>

            <a href="/update/{{i.id}}/">
              <input type="button" value="RE-SHEDULE" class="btn btn-success m-2">
            </a>

            <a href="/delete/{{i.id}}/">
              <input type="button" value="DONE" class="btn btn-success m-2">
            </a>

          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>

  <hr>


  {% endblock %}
  <!-- <div class="plus" style="background-color: antiquewhite; border: 3px solid black; height: 60px; width: 60px; border-radius: 20px;text-align: center;">
            
           <h5 style="text-align: center;">add</h5>
            
        </div> -->
</body>

</html>